<ion-view>
    <ion-nav-bar class="bar-positive">
        <ion-nav-back-button class="button-clear" ng-click="back()">
            <i class="ion-chevron-left"></i> {{'binhchonsukien' | translate}}
        </ion-nav-back-button>
    </ion-nav-bar>
    <ion-content>
        <ion-list>
            <ion-item class="vote_event_item">
                <div class="item-text-wrap vote_event_item_title">{{eventDetail.title}}</div>
                <span class="row vote_event_item_desc">{{eventDetail.department}}</span>
                <span class="vote_event_item_content">{{'noidung' | translate}}</span>
                <div class="item-text-wrap vote_event_content">{{eventDetail.content}}</div>
            </ion-item>
        </ion-list>
        <div class="vote_event_status">{{'bandabinhchon' | translate}}</div>

        <div class="row">
            <label class="item item-radio col col-50 radio_event_true">
                <input type="radio" name="group_true" disabled="true" ng-checked="eventDetail.state == 1">
                <div class="item-content">{{'dongy' | translate}}</div>
                <i class="radio-icon ion-checkmark"></i>
            </label>
            <label class="item item-radio col col-50 radio_event_true">
                <input type="radio" name="group_true" disabled="true" ng-checked="eventDetail.state == 2">
                <div class="item-content">{{'khongdongy' | translate}}</div>
                <i class="radio-icon ion-checkmark"></i>
            </label>
        </div>
        
        <div class="row">
            <div class="col col-center">
                <canvas class="event_chart" id="chart-area"></canvas>
            </div>
        </div>

        <div class="bt_chart">
            <button class="bt_chart_style1"></button> {{'tyledongy' | translate}} {{notePie[0]}} %
        </div><p></p>
        <div class="bt_chart">
            <button class="bt_chart_style2"></button> {{'tylekhongdongy' | translate}} {{notePie[1]}} %
        </div>
    </ion-content>
</ion-view>