<ion-view>
    <ion-nav-bar class="bar-balanced">
        <ion-nav-back-button class="button-clear" ng-click="goBack()">
            <i class="ion-chevron-left"></i> LỰA CHỌN ĐỊA ĐIỂM
        </ion-nav-back-button>
        <ion-nav-buttons side="right">
            <button class="button" ng-click="sumitLocal()">
                Xong
            </button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content locking="false" scroll="false" direction="y" overflow-scroll="false">
        <div class="FBMapFrame">
            <div id="map" data-tap-disabled="false"></div>
        </div>
            <ion-scroll direction="y" style="height: 100%; background-color: #eef2f7;">
            <div class="item" style="width: 100%; padding: 0px;">
                <ion-radio  ng-repeat="item in items"
                           ng-value="item.department"
                           ng-model="local.loc">
                    {{ item.department}}
                </ion-radio>
            </div>
        </ion-scroll>
    </ion-content>
</ion-view>

