<ion-view>
    <ion-nav-bar class="bar-energized">
        <ion-nav-back-button class="button-clear">
            <i class="ion-chevron-left"></i> <span class="fontFamily"> {{title}}</span>
        </ion-nav-back-button>
    </ion-nav-bar>
    <ion-content locking="false" direction="y" scroll="true" overflow-scroll="false" style="background-color: #eef2f7">
        <div class="HL_text_body">
            <p class="HL_TruyenThongTitle">Truyền thông thực hiện luân chuyển cán bộ...</p>
            <div class="HL_TruyenThongTextContent">
                <p>Kính gửi.</p>
                <p>- Các đồng chí trưởng đơn vị</p>
                <p>- Toàn thể các đồng chí cán bộ nhân viên TTPMVT</p>
                <p>Thực hiện theo chỉ đạo của BGĐ về việc tăng cường công tác luân chuyển CBNV trong nội bộ TTPMVT để tạo cơ hội cho cá nhân thay đổi môi trường làm việc, phát huy tính sáng tạo của cá nhân khi thực hiện các nhiệm vụ khác nhau, và cũng là trách nhiệm của mỗi cá nhân trong thực hiện nhiệm vụ của Trung tâm cả ở trong nước và nước ngoài, P.TCLĐ đã trình đề xuất quy chế luân chuyển nội bộ TTPMVT và được GĐ phê duyệt(như file đính kèm).</p>
                <p>Vậy P.TCLĐ truyền thông đến các đơn vị, cá nhân để CBNV nắm được tinh thần, chủ trương và thực hiện:</p>
                <p>Về quy trình luân chuyển, điều động cán bộ thực hiện như quy trình thông thường, lưu ý:</p>
                <p>- CBNV có thể chủ động đề xuất luân chuyển, thực hiện nhiệm vụ phù hợp với khả năng và nhiệm vụ của bản thân</p>
                <p>- Các đơn vị xem xét, đề xuất với P.TCLĐ và các đơn vị liên quan, PGĐ chuyên trách để được phê duyệt.</p>
            </div>
        </div>
    </ion-content>
</ion-view>