<ion-view style="background-color: #4281d0;">
    <ion-content>
        <div class="login-form">
            <div class="login-title">VIETTEL HOME</div>
            <input id="username" type="email" placeholder="{{'txtUsername'|translate}}" value="tuantd7">
            <input id="password" type="password" placeholder="{{'txtPassword'|translate}}" value="123">
            <div class="row settinglang">
                <label class="item item-radio col col-20 radio_event" style="background-color: #4281d0; border: 0;" ng-click="settingVI()">
                    <input type="radio" name="settinglang">
                    <div class="item-content" style="text-align: left; padding: 0px ;background-color: #4281d0;"><img src="img/vie.png" style="height:30px;width:30px"/></div>
                    <i class="radio-icon ion-checkmark" style="padding: 0;color: white"></i>
                </label>
                <label class="item item-radio col col-20 radio_event" style="background-color: #4281d0; border: 0;" ng-click="settingEN()">
                    <input type="radio" name="settinglang" checked>
                    <div class="item-content" style="text-align: left; padding: 0px;background-color: #4281d0;"><img src="img/usa.png" style="height:30px;width:30px"/></div>
                    <i class="radio-icon ion-checkmark" style="padding: 0;color: white"></i>
                </label>
            </div>
            <br/>
            <button class="login-button" ng-click="login()">{{'btnLogin'|translate}}</button>
        </div>
    </ion-content>
</ion-view>