<ion-view style="background-color: #4281d0;">
    <ion-content>
        <div class="login-form">
            <div class="login-title">VIETTEL HOME</div>
            <input id="username" type="email" placeholder="Địa chỉ Email" value="tuantd7">
            <input id="password" type="password" placeholder="Mật khẩu" value="123456">
<!--
            <input id="username" type="email" placeholder="Địa chỉ Email" value="hoangpx@viettel.com.vn">
            <input id="password" type="password" placeholder="Mật khẩu" value="123abc">-->

            <br>
            <br>
            <button class="login-button" ng-click="login()">Đăng Nhập</button>
        </div>
    </ion-content>
</ion-view>