<ion-view style="background-color: #4281d0;">
    <ion-content>
        <div class="login-form">
            <div class="login-title">VIETTEL HOME</div>
            <input id="username" type="email" placeholder="{{'txtUsername'|translate}}" value="tuantd7">
            <input id="password" type="password" placeholder="{{'txtPassword'|translate}}" value="123456">
            <div class="row settinglang">
                <label class="item item-radio col col-20 radio_event" style="background-color: #4281d0; border: 0;" ng-click="settingVI()">
                    <input type="radio" name="group">
                    <div class="item-content" style="text-align: left; padding: 0px ;background-color: #4281d0;"><img src="img/vi.png"/></div>
                    <i class="radio-icon ion-checkmark" style="padding: 0;color: white"></i>
                </label>
                <label class="item item-radio col col-20 radio_event" style="background-color: #4281d0; border: 0;" ng-click="settingEN()">
                    <input type="radio" name="group" checked>
                    <div class="item-content" style="text-align: left; padding: 0px;background-color: #4281d0;"><img src="img/us.png"/></div>
                    <i class="radio-icon ion-checkmark" style="padding: 0;color: white"></i>
                </label>
            </div>
            <button class="login-button" ng-click="login()">{{'btnLogin'|translate}}</button>
        </div>
    </ion-content>
</ion-view>