<ion-popover-view style="height:170px">
    <ion-header-bar> 
        <h1 class="title">{{'caidat' | translate}}</h1> 
    </ion-header-bar> 
    <ion-content>
        <ion-list>
            <ion-item class="item item-checkbox" ng-click="settings(0)">
                <label class="checkbox">
                    <input type="checkbox" checked>
                </label>
                <span class="col col-90 col-offset-10">{{'nhanthongbao' | translate}}</span>
            </ion-item>
            <ion-item ng-click="settings(-1)">
                <span class="col col-90 col-offset-33">{{'dangxuat' | translate}}</span>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-popover-view>
