/* Your app's CSS, go crazy, make it your own */
.ionic-logo {
    display: block;
    margin: 15px auto;
    width: 96px;
    height: 96px;
}

.left {
    text-align: left;
}

* {
    font-family: Arial, Helvetica, sans-serif;
}
.fontFamily
{
    font-family: Arial, Helvetica, sans-serif;
}

/** :hover {
    border: 1px solid #CB6009;
     make transparent link selection, adjust last value opacity 0 to 1.0 
}*/